.about-wrapper {
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  color: #333;
}
.about-wrapper h1{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.about-text {
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  font-size: 1.3rem;
}
.about-text h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1100;
}

.about-image {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}

h1, h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.intro,
.mission,
.pcos-info {
  font-size: 1.3rem;
  font-weight: 400; /* lighter than 500 */
  color: inherit;    /* uses the default text color of the wrapper */
  line-height: 1.8;
}

ul.highlights {
  list-style-type: disc;
  padding-left: 25px;
  margin-bottom: 20px;
}

ul.highlights li {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.6;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
}


p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.thanks {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.4rem; 
  color: #2c3e50;
  text-align: center; /* Optional: center the text */
  margin-top: 30px; 
}


