.about-wrapper {
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  color: #333;
}
.about-wrapper h1{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.about-text {
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  font-size: 1.3rem;
}
.about-text h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1100;
}

.about-image {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}

h1, h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

ul.highlights {
  list-style-type: disc;
  padding-left: 25px;
  margin-bottom: 20px;
}

ul.highlights li {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8;
}


p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.thanks {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:400;
}

